<!--main页面头部-->
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button class="btn navbar-right navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand  navbar-left">
            <div class="text-primary">开饭啦</div>
        </div>
    </div>
</nav>
<!--main页面主体-->
<div class="container">
    <!--搜索表单-->
    <div>
        <form action="" class="form-inline">
            <div class="form-group">
                <label class="h4" for="search">美食搜索</label>
                <div class="input-group">
                    <input id="search" type="text" class="form-control"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">搜索</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--菜品列表-->
    <div id="main_list" class="list-group">
        <a ng-repeat="item in dishList" class="list-group-item" href="#/detail/{{item.id}}" >
            <div class="media">
                <div class="media-object media-left media-middle">
                    <img src="./img/{{item.img}}"/>
                </div>
                <div class="media-body">
                    <h5>{{item.name}}</h5>
                    <p>原料:{{item.material}}</p>
                </div>
            </div>
        </a>
        <button ng-click="more()" type="button" class="btn btn-primary form-control" id="more">
            <span ng-show="isLoadMore">加载更多</span>
            <span ng-show="isNoMore">已经没有更多数据了</span>
            <span ng-show="isLoading">加载中...</span>
        </button>
    </div>
    <!--main页面底部-->
    <footer>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn" ng-click="jump('/main')">
                        <span class="text-primary glyphicon glyphicon-home"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn">
                        <span class="text-primary glyphicon glyphicon-user"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn" ng-click="jump('/detail')">
                        <span class="text-primary glyphicon glyphicon-list"></span>
                    </button>
                </div>
            </div>
        </div>
    </footer>
</div>



